@model MembershipMVC.Models.Edit;
@*@model ApplicationUser;*@
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" area-label="Close"></button>
    </div>

}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" area-label="Close"></button>
    </div>

}

<h1>EditProfile</h1>
<hr />

<div class="row d-flex align-items-center justify-content-center mt-5">
    <div class="col-md-3 card p-3">
        <h2 class="text-center text-info">Edit Profile</h2>

        @using (Html.BeginForm("Settings", "Admin", FormMethod.Post, new { @id = "editForm"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="mb-1">
                <label class="control-label">@Html.LabelFor(m => m.FirstName)</label>
                @* <div>
            @Html.TextBoxFor(expression:m => m.FirstName,htmlAttributes:new {@class ="form-control"})

            </div>*@




                <input class="text-box form-control" id="FirstName" required name="FirstName" value="@Model.FirstName" type="text" onkeyup="OnChangeHandler()">
                <span id="firstname" class="text-danger"></span>
                @* <span class="text-danger">@Html.ValidationMessageFor(m=>m.Username)</span>*@



            </div>
            <div class="mb-1">
                <label class="control-label">@Html.LabelFor(m => m.LastName)</label>


                <input class="text-box form-control" required id="LastName" name="LastName" value="@Model.LastName" type="text" onkeyup="onChangelast()">
                <span id="lastname" class="text-danger"></span>
                @*<span class="text-danger">@Html.ValidationMessageFor(m=>m.LastName)</span>*@


            </div>
            <div class="mb-1">
                <label class="control-label">@Html.LabelFor(m => m.Email)</label>


                <input class="text-box form-control" required id="Email" name="Email" type="email" value="@Model.Email" onkeyup="EmailValidation()">
                <span id="email" class="text-danger"></span>
                @*<span class="text-danger">@Html.ValidationMessageFor(m=>m.Email)</span>*@


            </div>
            <div class="mb-1">
               @* <label class="control-label">@Html.LabelFor(m => m.Password)</label>*@


                <input class="text-box form-control" required id="Password" name="Password" type="hidden" value="@Model.Password" onkeyup="onChangePassword()">
                <span id="password" class="text-danger"></span>
                @*<span class="text-danger">@Html.ValidationMessageFor(m=>m.Password)</span>*@


            </div>

            <div class="mb-1">
                <label class="control-label">@Html.LabelFor(m => m.PhoneNumber)</label>


                <input class="text-box form-control" required id="PhoneNumber" name="PhoneNumber" type="text" value="@Model.PhoneNumber" onkeyup="PhoneValidation()">
                <span id="phonenumber" class="text-danger"></span>
                @*<span class="text-danger">@Html.ValidationMessageFor(m=>m.PhoneNumber)</span>*@


            </div>

            <div class="row">
                <div class="col-4">
                  @*  onclick="return confirm('Are you sure?')"*@
                    <input type="submit" value="Save" class="btn btn-secondary"  />
                </div>
            </div>

        }
        @*   <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-1">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" data-val-required="please enter username" />

        <span asp-validation-for="Username" class="text-danger" />
        </div>



        <div class="mb-1">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" required="Please enter password" />
        <span asp-validation-for="Password" class="text-danger" />
        </div>
        <div class="mb-1 form-check">
        <label class="form-check-label">
        <input asp-for="RememberMe" class="form-check-input" />@Html.DisplayNameFor(e => e.RememberMe)
        </label>
        </div>
        <div class="row">
        <div class="col-8">
        <a asp-action="Register" class="text-decoration-none float-start mt-2">Don't h ave account?</a>
        </div>
        <div class="col-4">
        <input type="submit" value="Login" />
        </div>
        </div>
        <div>
        <a asp-action="ForgotPassword" class="text-decoration-none float-start mt-2">Forgot Password?</a>
        </div>
        </form>*@
    </div>
</div>
@*<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-3 card p-3">
        <h2 class="text-center text-info">Edit Profile</h2>
        <form asp-action="Settings" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
            <div class="mb-1">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
            <div class="mb-1">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="control-label"></label>
                <input type="hidden" asp-for="Password" class="form-control" />
              <span asp-validation-for="Password" class="text-danger" />
            </div>

            <div class="mb-1">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>

            <div class="row">
              
                <div class="col-4">
                    <input type="submit" value="Save" class="btn btn-secondary" onclick="return confirm('Are you sure?')" />
                </div>
               
            </div>
        </form>
    </div>



</div>*@
<button asp-action="Index" asp-controller="Admin" class="btn btn-primary" onclick="location.href='@Url.Action("Dashboard","Admin")'">Back to Dashboard</button>
@section scripts {
    @* <partial name="_ValidationScriptsPartial"/>*@
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $("body").on("submit", "#editForm", function () {
            return confirm("Do you want to edit?");
        });
        @if (ViewBag.Message != null)
        {
                <script type="text/javascript" >
                    window.onload = function () {
                        alert('@ViewBag.Message');
                    };
        </script>
        }
        function validateForm() {
            ValidateEmail();
            // name
            var First = document.getElementById("FirstName").value;
            var last = document.getElementById("LastName").value
            var EmailAddress = document.getElementById("Email").value;
            var pass = document.getElementById("Password").value;
            var confirmPass = document.getElementById("ConfirmPassword").value
            var Phone = document.getElementById("PhoneNumber").value

            // error
            var firstName = document.getElementById("firstname");
            var LastName = document.getElementById("lastname");
            var Email = document.getElementById("email");
            var Password = document.getElementById("password");
            var ConfirmPassword = document.getElementById("confirmpassword");
            var PhoneNumber = document.getElementById("phonenumber");

            firstName.innerHTML = "";
            LastName.innerHTML = "";
            Email.innerHTML = "";
            Password.innerHTML = "";
            ConfirmPassword.innerHTML = "";
            PhoneNumber.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            //var validMobile = /^\(? ([0 - 9]{ 3 }) \)?[-. ] ? ([0 - 9]{ 3 })[-. ] ? ([0 - 9]{ 4 }) $/
            if (!expr.test(EmailAddress)) {
                Email.innerHTML = "Invalid email address.";
            }
            //if (!validMobile.test(Phone)) {
            //    PhoneNumber.innerHTML = "Please enter valid mobile number";
            //}
            //if (Phone.length > 10) {
            //    PhoneNumber.innerHTML = "Phone number no longer more than 10 digits";
            //}
            if (First == "") {
                firstName.innerHTML = "Please Enter First Name."
            }
            if (last == "") {
                LastName.innerHTML = "Please Enter Last Name.";
            }
            if (EmailAddress == "") {
                Email.innerHTML = "Please Enter Email Address.";
            }
            if (pass == "") {
                Password.innerHTML = "Please Enter Password";
            }
            if (confirmPass == "") {
                ConfirmPassword.innerHTML = "Please Enter Confirm Password";
            }
            if (Phone == "") {
                PhoneNumber.innerHTML = "Please Enter Mobile Number.";
            }
            if (pass != confirmPass) {
                ConfirmPassword.innerHTML = "Please Password Not matched";
            }
        }
        function onChangelast() {
            var last = document.getElementById("LastName").value;
            var LastName = document.getElementById("lastname");

            if (last != "") {
                LastName.innerHTML = "";
            } else {
                LastName.innerHTML = "Please Enter Last Name";
            }
        }
        function onChangeEmail() {
            var EmailAddress = document.getElementById("Email").value;
            var Email = document.getElementById("email");
            if (EmailAddress != "") {
                Email.innerHTML = "";
            } else {
                Email.innerHTML = "Please Enter Email Address";
            }
        }
        function onChangePhone() {
            var Phone = document.getElementById("PhoneNumber").value;
            var PhoneNumber = document.getElementById("phonenumber");
            var filter = /^\+?(\d[\d-. ]+)?(\([\d-. ]+\))?[\d-. ]+\d$/;

            if (!filter.test(Phone)) {
               // alert('Please provide a valid mobile phone number');
                PhoneNumber.innerHTML = "Please provide a valid mobile phone number";
               // return false;
            }
            else if (Phone != "") {
                PhoneNumber.innerHTML = "";
               // return true
            } else {
                PhoneNumber.innerHTML = "Please Enter Phone Number";
              //  return false;
            }
          //  return true;
        }
        function onChangePassword() {
            var pass = document.getElementById("Password").value;
            var Password = document.getElementById("password");
            var confirmPass = document.getElementById("confirmpassword").value;
            var ConfirmPassword = document.getElementById("confirmpassword");

            if (pass != "") {
                Password.innerHTML = "";
            } else if (pass !== ConfirmPass) {
                ConfirmPassword.innerHTML = "Please not matched Password";
                return false;
            } else if (confirmPass == "") {
                ConfirmPassword.innerHTML = "";
                return false;
            }
            else {
                Password.innerHTML = "Please Enter Password";
                return false;
            }
            return false;
        }
        function onChangeConfirm() {

            var confirmPass = document.getElementById("confirmpassword").value;
            var ConfirmPassword = document.getElementById("confirmpassword");
            if (confirmPass != "") {
                ConfirmPassword.innerHTML = "";
            }
            else {
                ConfirmPassword.innerHTML = "Please Enter Password";
            }
        }

        function OnChangeHandler() {
            var fname = document.getElementById("FirstName").value;

            // error
            var firstName = document.getElementById("firstname");


            if (fname != "") {
                firstName.innerHTML = "";
            }
            else if (fname == "") {
                firstName.innerHTML = "Please Enter First Name"
            }

        }
        function ValidateEmail() {
            var email = document.getElementById("Email").value;
            var lblError = document.getElementById("email");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
        }

        function PhoneValidation() {
            var phone;
            var PhoneId = document.getElementById("PhoneNumber");
            phone = PhoneId.value;
            var Error = document.getElementById("phonenumber");
            var val;
            val = /^[0-9]+$/;
            var digits = /\d(10)/;
            if (phone == "") {
                // return ("Please Enter PhoneNo" + "\n");
                return Error.innerHTML = "Please Enter Phone Number";
            }
            else if (val.test(phone)) {
                // return "";
                return Error.innerHTML = "";
            }


            else {

                // return ("PhoneNo should be only in digits" + "\n");
                return Error.innerHTML = "PhoneNo should be only in digits";
            }



        }
        function EmailValidation() {
            var Email;
            var EmailId = document.getElementById("Email");
            Email = EmailId.value;
            var val = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            var EmailError = document.getElementById("email");
            if (Email == "") {
                // return ("Please Enter Email Id" + "\n");
                return EmailError.innerHTML = "Please Enter Your Email Id";
            }
            else if (val.test(Email)) {
                // return "";
                return EmailError.innerHTML = "";
            }

            else {
                return EmailError.innerHTML = "Please Enter Valid Email Id"
                // return ("Email should be in this form example: xyz@abc.com" + "\n");
            }
        }

    </script>

}
